In [15]:
import pandas as pd
import numpy as np

# Exercise1
df = pd.read_csv('./chipo.csv')
df.dropna()

df.head(10)

print(df.shape[0])

print(df.shape[1])

print(df.columns)

print(df.index)

# print(df.value_counts('item_name'))

# print(df.groupby('item_name').sum()['quantity'])

df['item_price'] = df['item_price'].apply(lambda x : float(x.replace("$", "")))

# print(df.groupby('item_name').sum()['item_price'])

print(df['item_name'].nunique())

4622
5
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
RangeIndex(start=0, stop=4622, step=1)
50

In [19]:
import pandas as pd

# Exercise2

df_expenisve = df.query('item_price > 10')
print(df_expenisve.count()['order_id'])

1130

In [26]:
import pandas as pd

# Exercise 3
users = pd.read_csv('./users.csv')

users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [33]:
import pandas as pd

#Exercise 4
# create 3 dataframes data1, data2 and data3 with columns id: integer and name:string with different values
data1 = pd.DataFrame({'id': [1, 2, 3, 4],
                      'name': ['a', 'b', 'c', 'd']})
data2 = pd.DataFrame({'id': [5,6,7,8],
                      'name': ['d','e','f','g']})
data3 = pd.DataFrame({'id': [9,10,11,12],
                      'name': ['h','i','j','k']})

# merge data1 and data2 along rows using concat method
all_data = pd.concat([data1, data2], axis=0, ignore_index=True)

# merge data1 and data2 along columns using concat method
all_data_col = pd.concat([data1, data2], axis=1, ignore_index=True)
all_data_col

   0  1  2  3
0  1  a  5  d
1  2  b  6  e
2  3  c  7  f
3  4  d  8  g

In [2]:
import pandas as pd

# Exercise 5
iris = pd.read_csv('./iris.csv')

# assigns column names to iris dataframe
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris.isnull().count()

sepal_length    149
sepal_width     149
petal_length    149
petal_width     149
species         149
dtype: int64

In [5]:
import pandas as pd

# Exercise 6
dict = {'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']}

df_pokemon = pd.DataFrame(dict)
print(df_pokemon)

# re arrange the columns
df_pokemon = df_pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
df_pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [2]:
import pandas as pd

# Exercise 7

baby_names = pd.read_csv('./baby_names.csv')

print(baby_names.head(10))

# drop columns 'Unnamed: 0' and 'Id' from dataframe
baby_names.drop(['Unnamed: 0', 'Id'], axis=1, inplace=True)

print(baby_names.head(10))

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28
       Name  Year Gender State  Count
0      Emma  2004      F    AK     62
1   Madison  2004      F    AK     48
2    Hannah  2004      F    AK     46
3     Grace  2004      F    AK     44
4     Emily  2004      F    AK     41
5   Abigail  2004      F    AK     37
6    Olivia  2004      F    AK     33
7  Isabella  2004      F    AK     30
8    Alyssa  2004      F    AK     29
9    Sophia  2004      F    AK     28

In [14]:
import pandas as pd

# Exercise 8
temperature = [30, 31, 29, 32, 33, 34, 28, 27, 25, 35]
humidity = [80, 75, 70, 85, 90, 80, 75, 60, 65, 70]
wind_speed = [5, 6, 7, 8, 9, 4, 10, 5, 6, 7]

# Create the Date column here (with dates between 2021-01-01 and 2021-01-10, Day frequency) using pd.date_range
date_rng = pd.date_range(start='2021-01-01', end='2021-01-10')

# create a dataframe with all the variables
weather_data = pd.DataFrame({'Date': date_rng, 'Temperature': temperature, 'Humidity': humidity, 'Wind_speed':wind_speed})

print(pd.infer_freq(weather_data['Date']))

weather_data.set_index('Date', inplace=True)
weather_data

D

            Temperature  Humidity  Wind_speed
Date
2021-01-01           30        80           5
2021-01-02           31        75           6
2021-01-03           29        70           7
2021-01-04           32        85           8
2021-01-05           33        90           9
2021-01-06           34        80           4
2021-01-07           28        75          10
2021-01-08           27        60           5
2021-01-09           25        65           6
2021-01-10           35        70           7