In [4]:
# kaggle.com for data sets
import pandas as pd
series = pd.Series(['a', 'b', 'c', 'd'])

dataframe = pd.DataFrame(
   {
      'name': ['Alice', 'Charlie', 'Bob'],
      'age':[10, 12, 11]
   }
) 
dataframe.rename(columns={'name':'student name'}, inplace=True)
# can add explicit indexes for both : a,b,c instead of 0,1,2
# other functions as well

dataframe

  student name  age
0        Alice   10
1      Charlie   12
2          Bob   11

In [ ]:
# saving and reading from datasets

In [ ]:
# dense data set: all values okay
# sparse data set: some values missing